{% load static %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Forest Prediction Dashboard</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dist/css/style.css' %}">

	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
    <style>
  
        .hero-figures img {
          max-height: 500px; /* Reduced height */
          width: 500px;
          object-fit: cover;
          border-radius: 0.75rem;
        }
      </style>
      <style>
        @media screen and (max-width: 768px) {
          .hero-figures {
            display: none;
          }
        }
      </style>
      
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href="#">
								
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>

        <main>
            <section class="hero" style="height: 80vh;">
                <div class="container">
                    <div class="hero-inner flex items-center justify-between">
                        <div class="hero-copy w-1/2">
                            <h1 style="font-size: 65px;">Forest Cover Prediction System</h1>
                            <p class="hero-paragraph text-5xl md:text-3xl mb-6">predicting Kenya's forests future with AI using  satellite imagery and historical weather data.</p>
                            <div class="hero-cta" style="margin-bottom: 1rem;">
                                <a class="button " href="#services">Our services</a>
                                <a class="button" href="#about">About</a>
                            </div>
                            <div class="hero-cta">
                                <a class="button" href="#help">Who it helps</a>
                            </div>
                        </div>
                        <div class="hero-figures w-1/2">
                            <img src="https://images.unsplash.com/photo-1691768834455-5442a5c91e33?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9yZXN0JTIwaW1hZ2V8ZW58MHx8MHx8fDA%3D" class="w-full max-h-96 object-cover rounded-lg">
                        </div>
                    </div>
                </div>
            </section>
            
            

            <section class="features section" id="services" style="padding-top: 30px;">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
                        <h4 style="text-align: center; font-size: 2rem; font-weight: bold; color: #34D399; margin-bottom: 2rem;">What This Platform Offers</h4>

                        <div class="features-wrap">
                            <a href="prediction/" style="text-decoration: none;">
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                       
                                        <h4 class="feature-title mt-24">  🔮Historical Forest Trends and  Future Forest Projections</h3>
                                        </h4>
                                        <p class="text-sm mb-0">data from 1990 to 2050 .</p>
                                    </div>
                                </div>

                            </a>
                           
                          
							<a href="api/documentation/" style="text-decoration: none;">
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                        
                                        <h4 class="feature-title mt-24">📡 Developer API</h4>
                                        <p class="text-sm mb-0">Access forest insights via a simple REST API for integration.</p>
                                    </div>
                                </div>

                            </a>
                          
                            <a href="prediction/" style="text-decoration: none;">
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                       
                                        <h4 class="feature-title mt-24">🌿  3D Visualizations</h4>
                                        <p class="text-sm mb-0">explore Kenya's forests in 3D using Cesium-powered interactive maps.</p>
                                    </div>
                                </div>
                            </a>
                          
                            <a href="https://docs.google.com/document/d/1SK5EmteDVhGjctvA3POKZHNW_BcOswZfBinW2s6jVEA/edit?usp=sharing" style="text-decoration: none;">
                                <div class="feature text-center is-revealing">
                                    <div class="feature-inner">
                                       
                                        <h4 class="feature-title mt-24">📂 Documentation</h4>
                                        <p class="text-sm mb-0">Comprehensive computer vision  and model training documentation included.</p>
                                    </div>
                                </div>
                            </a>
                           
						
                           
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section" id="about">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
                        <h4 style="text-align: center; font-size: 2rem; font-weight: bold; color: #34D399; margin-bottom: 2rem;">How the systems was made</h4>

                        <div class="features-wrap">
                           
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
                                    
                                    </h4>
                                    <p class="text-sm mb-0">1.Collected satellite imagery from 1990 onward from google earth engine.</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
                                   
                                    <p class="text-sm mb-0">2.Preprocessed the  images </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    
                                   
                                    <p class="text-sm mb-0">3.Did image segmentation.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
            
                                    <p class="text-sm mb-0">4.Changed detection and export the data in excel.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
            
                                    <p class="text-sm mb-0">5.Trained ML models for prediction.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
            
                                    <p class="text-sm mb-0">5.Trained ML models for prediction.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
            
                                    <p class="text-sm mb-0">6.Evaluated models and selected the  best-performing one.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
            
                                    <p class="text-sm mb-0">7.Served results via our  web interface and developer-friendly API.</p>
                                </div>
                            </div>
						
                           
                        </div>
                    </div>
                </div>
            </section>

            <section class="features section" id="help">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
                        <h4 style="text-align: center; font-size: 2rem; font-weight: bold; color: #34D399; margin-bottom: 2rem;">Who This Helps</h4>

                        <div class="features-wrap">
                           
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
                                    <h4 class="feature-title mt-24"> Researchers</h3>
                                    </h4>
                                    <p class="text-sm mb-0">They can Leverage long-term data for studies and environmental modeling.</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                   
                                    <h4 class="feature-title mt-24">Policy Makers</h4>
                                    <p class="text-sm mb-0">The data can help them informed conservation  decisions.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    
                                    <h4 class="feature-title mt-24">Developers</h4>
                                    <p class="text-sm mb-0">Use our APIs to integrate  into your platforms.</p>
                                </div>
                            </div>
                          
						
                           
                        </div>
                    </div>
                </div>
            </section>

			
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
						<a href="#">
							<img class="header-logo-image" src="{% static 'dist/images/logo.svg' %}" alt="Logo">
						</a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">About us</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                    <ul class="footer-social-links list-reset">
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Facebook</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.023 16L6 9H3V6h3V4c0-2.7 1.672-4 4.08-4 1.153 0 2.144.086 2.433.124v2.821h-1.67c-1.31 0-1.563.623-1.563 1.536V6H13l-1 3H9.28v7H6.023z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Twitter</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 3c-.6.3-1.2.4-1.9.5.7-.4 1.2-1 1.4-1.8-.6.4-1.3.6-2.1.8-.6-.6-1.5-1-2.4-1-1.7 0-3.2 1.5-3.2 3.3 0 .3 0 .5.1.7-2.7-.1-5.2-1.4-6.8-3.4-.3.5-.4 1-.4 1.7 0 1.1.6 2.1 1.5 2.7-.5 0-1-.2-1.5-.4C.7 7.7 1.8 9 3.3 9.3c-.3.1-.6.1-.9.1-.2 0-.4 0-.6-.1.4 1.3 1.6 2.3 3.1 2.3-1.1.9-2.5 1.4-4.1 1.4H0c1.5.9 3.2 1.5 5 1.5 6 0 9.3-5 9.3-9.3v-.4C15 4.3 15.6 3.7 16 3z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="screen-reader-text">Google</span>
                                <svg width="16" height="16" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M7.9 7v2.4H12c-.2 1-1.2 3-4 3-2.4 0-4.3-2-4.3-4.4 0-2.4 2-4.4 4.3-4.4 1.4 0 2.3.6 2.8 1.1l1.9-1.8C11.5 1.7 9.9 1 8 1 4.1 1 1 4.1 1 8s3.1 7 7 7c4 0 6.7-2.8 6.7-6.8 0-.5 0-.8-.1-1.2H7.9z" fill="#0270D7"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                    <div class="footer-copyright">&copy; 2024 Solid, all rights reserved</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'dist/js/main.min.js' %}"></script>
</body>
</html>
